body {
  margin: 0;
  padding: 0;
}


.content-wrap {
  margin: 0 auto;
  max-width: 1200px;
  clear: both;
}

/* ---------This is for the Photos Page ---------- */


#libr {  position: relative; 
	right: -30px;
	top: -5px;
	font-size: 40px;
}

/* #fail 

{object-fit:scale-down;
position: relative; 
display: flex;
justify-content: center;
} */


/* 
#lemon
{ object-fit:scale-down;
	position: relative; 
  right: 30px;
  top:  70px;
 }

 #grape
{
	object-fit:scale-down;
	position: relative; 
   top: -520px;
  right: -450px;

}

#waggle
{
	object-fit:scale-down;
	position: relative; 
  top: -975px;
  right: -1000px;
   

} 


#candy
{
	object-fit:scale-down;
	position: relative; 
  right: 30px;
  top:  -950px;


}
#puzzle
{
	object-fit:scale-down;
	position: relative; 
  right: -50px;
  top:  -1100px;

}

#cherry
{
	object-fit:scale-down;
	position: relative; 
  right: -400px;

} */

	
  img {
	  
width: 35%;
position: relative; 
float: left;
margin: .60%;
object-fit:scale-down;
left: 200px;

} 


/* .hope 

{object-fit:scale-down;
	position: relative; 
  right: -100px;
top: 0;}

#fag

{
	position: relative; 
  right: 200px;
  top: 500;
}  */
	

 /* img {

width: 25%;
height: auto;
object-fit:scale-down;
margin: 1.20%;
  display: flex;
  justify-content: center;
  float: left;

}   */

/* .toprow{
	margin: 1.20%;
	position: relative; 
  display: flex;
  justify-content: center;
  top: -150px;
float: left;

}

.midrow{
	margin: 1.20%;
  position: relative; 
  display: flex;
  justify-content: center;
  top: 20px;
  float: left;

}  */


/* .box{
  display: flex;
  justify-content: center;
  object-fit:scale-down;
  margin: 1.20%;
  float: right;
  
  

}

.apple{
	position: relative;
   display: flex;
  justify-content: center;
  
  }  */


	
 #lemon:hover {
	transform: scale(2.2);
      
}

#grape:hover {
	transform: scale(2.2);
      
}



#cherry:hover {
	transform: scale(2.2);
      
}

#candy:hover {
	transform: scale(2.2);
      
}

/* ---------This is for the About Page ---------- */

#abo {  position: relative; 
	right: -30px;
	top: 20px;
}


#me {  position: relative; 
	right: -30px;
	top: 50px;
}

.all{ position: relative; 
	right: -1000px;
	object-fit:scale-down; }



	
	
	
/* ---------This is for the Contact Page ---------- */


#con {  position: relative; 
	right: -30px;
}

#try { font-size:16px; }

#hard { font-size:16px; 
    }

#er { font-size:16px; }


#linkb {  position: relative; 
	right: -30px;
	top: 20px;
}

#num {  position: relative; 
	right: -30px;
	top: 2px;

}
#ig {  position: relative; 
	right: -30px;
	top: -16px;
}

#feel {  position: relative; 
	right: -30px;
	font-style: italic;
}

/* ---------This is for the Expierence Page ---------- */


#show {  position: relative; 
	right: -20px;
	
}

#time {  position: relative; 
	right: -30px;
	top: 25px;
	
}

.lets
{
	position: relative; 
	right: -40px;
	top: 30px;
}


#act {  position: relative; 
	right: -600px;
	top: -245px;
	
}

.legs
{
	position: relative; 
	right: -610px;
	top: -235px;
}


#unif {  position: relative; 
	right: -600px;
	top: -200px;
	
}

.feat
{
	position: relative; 
	right: -610px;
	top: -200px;
}


/*---------- Banner + This is the very top area ----------*/

#banner {
  background: #891a4a;
  padding: 0;
  margin: 0;
  height: 99px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 500;
  position: relative;
}
/* --This is the image in the banner--*/

#banner-brand {
  margin: 24px;
  width: 50px;
  height: 46px;
}

#nav-placeholder {
  height: 40px;
}

/* This is the bar the 4 items are on */

#nav-wrap {
  height: 40px;
  background: #0c1c75;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 1000;
  font-family: Open Sans, sans-serif;
}

#nav-wrap.stick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#nav-padding {
  padding: 0 12px;
  height: 40px;
  clear: both;
}

/*-------------------- Nav Item ------------------*/
.nav-item-wrap {
  float: left;
  position: relative;
}

.nav-item-wrap:hover {
  background: #B1D28B;
}

.nav-item-wrap.right {
  float: right;
}

.nav-item-wrap.name .nav-item:hover {
  background-color: #006F51 !important;
  color: white;
}

.nav-item {
  display: block;
  line-height: 40px;
  padding: 0 15px;
  font-size: 14px;
  color: #fff !important;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
}

.nav-item:link, .nav-item:visited, .nav-item:hover {
  font-size: 14px;
  line-height: 40px;
}

.nav-item.has-dropdown {
  padding-right: 32px;
}


.nav-icon {
  line-height: 40px !important;
  color: #fff;
}

.active-indicator {
  height: 4px;
  width: 100%;
  background: #008c66;
  position: absolute;
  bottom: 0;
  left: 0;
}

/

#close-menu, #menu-btn, #mobile-menu-overlay, #mobile-last-login {
  display: none;
}

.page-content {
  width: 1146px;
  margin: 24px auto;
  font-size: 22px;
  color: #999999;
  padding: 0 15px;
}

#page-title {
  float: left;
}

#page-text {
  float: right;
}


