
/* ----- General CSS ------- */
body
{

padding-top: 70px;

	
}


#test

{

	color: white;
}

#bars

{

	background-color: #a89c6a;
}

/*          # is for ID ||| . is for CLASS               */

/* ----- THIS IS FOR THE PHOTOS PAGE ------- */




.jumbotron{

	color: #a89c6a;
	font-weight: 20;
}


#low{
font-weight: 500;
font-size: 75px;
font-family: 'Great Vibes', cursive;

}



@media (min-width: 576px) {
  .pictures {
    
    columns: 1;
  }
}

@media (min-width: 768px) {
  .pictures {
    
    columns: 2;
  }
}


@media (max-width: 768px) {
  .out {
    
    width: 500px;
    height: 400px;  }
}

.out {
  margin: 0 auto;
  border: 10px groove #f0f1f2;

}


/* ----- THIS IS FOR CONTACT PAGE ------- */

.head{

	font-family: 'Merriweather', serif;
}

#act
{
	position: relative;
	top: 10px;}


#feel {  position: relative; 
	font-style: italic;
	top: 100px;
}

#linkb { font-size:22px; }




@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	#linkb { font-size:18px; }

}



  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2){

  	.fas { display: none; }
  }



/* ----- THIS IS FOR About PAGE ------- */

@media (max-width: 768px) {
  .stowad {
    
    padding-top: 20px;  }
}

/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2){

    .stowad { padding-top: 20px; }
  }*/

/*<div class="col-md-6 d-none d-md-block pl-5">*/

/* ----- THIS IS FOR Exp PAGE ------- */

#id{

	font-family: 'Nunito', sans-serif;}

#time{

	font-family: 'Nunito', sans-serif;}

/* ----- THIS IS FOR Measurements PAGE ------- */

.cur{

	font-family: 'Nunito', sans-serif;}
.size{

	font-size: 22px;
}
